/* App.css */
.App {
  background-color: #1e1e1e; /* Dark background color */
  color: white; /* Light text color to contrast the dark background */
  min-height: 100vh; /* Ensure it covers the entire height of the viewport */
}

 /* App.css */


